
@model Data.StockManagement.Observation

<div class="form-horizontal text-center">
    <h3>¿Queres borrar la observacion?</h3>

    @using (Html.BeginForm("Delete", "Observations", new { @id = '/' }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="form-actions no-color text-center">
                <input type="submit" value="Borrar" class="btn pull-right btn-warning" />
            </div>
        </div>
    }
</div>
